    <%-include ('partials/header.ejs')%>
    <main class="main-estreia">
            <h1 class="h1-estreia">Estreias</h1>
        <div class="div-table">
            <table>
            <tr>
                <th>Poster</th>
                <th>Título</th>
                <th>Genero</th>
                <th>Data de estreia</th>
            </tr>
            <tbody>
                <tr>
                    <td>
                        <img src="https://oca.observatorio.uff.br/wp-content/uploads/sites/468/2026/03/panico-7-1080x675.png" alt="">
                    </td>
                    <td>
                        Panico 7
                    </td>
                    <td>
                        Terror
                    </td>
                    <td>
                        26/02
                    </td>
                </tr>
            </tbody> 
        </table>
        </div>
    </main>
</body>
</html>