<%-include ('partials/header.ejs')%>

    <main class="main-filme">
        <div class="container-img-filmes">
            <div class="div-img-content">
                <div class="content-texts">
                </div>
            </div>
            <p class="text-filme">Filmes</p>
            <div class="div-img-filme">
                <% filmes.forEach((filme, i)=> { %>
                    <img src="<%= filme.imagemCard%>" alt="" class="img-filmes" data-id='<%= i %>'data-info='<%- JSON.stringify(filme)%>'>
                    <% }) %>
            </div>
        </div>
    </main>
    <script src="/js/script.js"></script>
    </body>
    </html>