    <%-include ('partials/header.ejs')%>

    <main class="main-filme">
            <div class="container-img-filmes">
                <div class="div-img-content">
                    <div class="content-texts">
                        <h1 class="content-text-h1">Wall-E</h1>
                        <p class="context-text-p-resumo">Título - Duração - Ano - Diretor - Nota</p>
                        <p class="context-text-p">Após entulhar a Terra de lixo e poluir a atmosfera com gases tóxicos, a humanidade deixou o planeta e passou a viver em uma gigantesca nave. O plano era que o retiro durasse alguns poucos anos, com robôs sendo deixados para limpar o planeta. WALL-E é o último destes robôs, e sua vida consiste em compactar o lixo existente no planeta.</p>
                    </div>
                </div>
                <p class="text-filme">Filmes</p>
                <div class="div-img-filme">
                    <img src="https://wallpapers.com/images/hd/2560-x-1440-movie-2560-x-1440-56mproziihvmfjsd.jpg" alt="" class="img-filmes">
                    <img src="https://ingresso-a.akamaihd.net/b2b/production/uploads/article/image/4632/ef9e971e0582d0e846485a24b78f1b73.jpg" alt="" class="img-filmes">
                </div>
            </div>
    </main>
    <script src="/js/script.js"></script>
</body>
</html>