    <%-include ('partials/header.ejs')%>
    <main>
        <section class="hero">
            <div class="div-hero">
                <h2 class="h2-hero">Bem-vindo ao Cine</h2>
                <h1 class="h1-hero">Explore o Cinema Mundial</h1>
                <div class="div-button">
                    <a href="" class="button-hero">EXPLORE</a>
                </div>
            </div>
        </section>
    </main>
</body>
</html>